.mobile {
    // .mobile__controll

    &__controll {
        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        z-index: 150;
        bottom: 30px;
        left: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        width: max-content;
        opacity: 0;
        transition:
            opacity 0.3s ease,
            bottom 0.3s ease;
        transform: translateX(-50%);

        @media (max-width: 768px) {
            display: flex;
            opacity: 1;
        }

        button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 65px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            transition: 0.25s ease-in-out;
            background-color: #fff;
            color: #000;

            svg {
                stroke-width: 1.5px;
                width: fit-content;
                pointer-events: none;
                transition: 0.25s ease-in-out;
            }

            .close {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -2;

                opacity: 0;
                visibility: hidden;

                svg {
                    height: 14px;
                }
            }

            &._active {
                background-color: #000;

                .mobile-basket {
                    opacity: 0;
                    visibility: hidden;
                    z-index: -2;
                }
                .mobile-search {
                    opacity: 0;
                    visibility: hidden;
                    z-index: -2;
                }

                .close {
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;
                }

                .burger {
                    span {
                        background-color: #fff;
                    }
                    & > :first-child {
                        top: 50%;
                        transform: translate(0, -50%) rotate(45deg);
                    }
                    & > :nth-child(2) {
                        display: none;
                    }
                    & > :last-child {
                        top: 50%;
                        transform: translate(0, -50%) rotate(-45deg);
                    }
                }
            }
        }

        // .mobile__controll-search

        &-search {
            margin-right: -1px;
            border-radius: 4px 0 0 4px;
            height: 56px;

            svg {
                height: 15px;
                stroke: #000;
                fill: none;
            }
        }

        // .mobile__controll-burger

        &-burger {
            border-radius: 4px;
            z-index: 2;
            width: 65px;
            height: 65px;
            transform: translateZ(20px);
            border-radius: 4px;

            .burger {
                pointer-events: none;
                width: 20px;
                height: 14px;
                position: relative;
                transition: 0.25s ease-in-out;

                span {
                    position: absolute;
                    left: 0;
                    height: 2px;
                    background-color: #000;
                    border-radius: 100px;
                    width: 100%;
                    transition: 0.25s ease-in-out;
                }

                & > :first-child {
                    top: 0;
                }
                & > :nth-child(2) {
                    top: 50%;
                    transform: translate(0, -50%);
                }
                & > :last-child {
                    top: calc(100% - 2px);
                }
            }
        }

        // .mobile__controll-basket

        &-basket {
            border-radius: 0px 4px 4px 0px;
            height: 56px;
            position: relative;

            svg {
                height: 17px;
                stroke: #000;
                fill: none;
            }

            .basket-qty {
                position: absolute;
                right: -10px;
                top: -10.5px;
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 5;
                border-radius: 50%;
                background-color: #d90707;

                span {
                    color: #fff;
                    font-family: RobotoMono;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;

                }
            }
        }
    }
}
